body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

.App {
  height: auto;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}